# Set correct mode for function keys when the NuPhy Air75 is attached
SUBSYSTEM=="usb", ATTRS{idVendor}=="05ac", ATTRS{idProduct}=="024f", \
    RUN+="/usr/bin/sh -c 'echo 0 > /sys/module/hid_apple/parameters/fnmode'"
